<main class="main">
    <section class="main__section">
      <article class="main__article">
        <h2 class="main__article--title">Sobre mí</h2>
        <p class="main__article--text">
          Graduada en Educación Infantil con experiencia laboral en diversos sectores, he decidido dar un giro a mi carrera y seguir mi pasión por la
          tecnología. He estudiado el bootcamp de programación web de Adalab, donde he aprendido diferentes tecnologías. Soy una persona curiosa,
          inquieta y con muchas ganas de aprender. Durante mi formación he demostrado capacidad para adquirir conocimientos rápidamente y enfrentar nuevos desafíos con entusiasmo. Me considero una
          persona perseverante y enfocada en alcanzar mis objetivos.
        </p>
      </article>
      <article class="main__article main__article2">
        <h2 class="main__article--title">Habilidades:</h2>
        <ul class="main__article--text main__article2--text">
          <li>
            - Maquetación: HTML5, CSS3, Sass, Mobile First, Flexbox, CSS Grid, Animaciones, Transiciones.
          </li>
          <li>- Javascript ES6 y creación de SPA con React. </li>
          <li- Manejo del sistema de control de versiones de Git.></li>
          <li>- Conocimientos básicos de APIs y
          servidores. </li>
          <li>- Back-end: Node JS, Express, Motor de plantillas Ejs, MySQL y Mongo DB. </li>
          <li>- Experiencia en el desarrollo de proyectos usando Agile y SCRUM. </li>
          <li>- Herramientas de desarrollo: Gulp, Visual Studio Code, Zeplin. </li>
          <li>- Herramientas de comunicación y trabajo en equipo: Slack, Github. </li>
        </ul>
      </article>
      <article class="main__article">
        <h2 class="main__article--title">¿Qué busco?</h2>
        <p class="main__article--text">Busco un trabajo que me permita seguir desarrollando mis habilidades como programadora web, especialmente en el desarrollo front-end, y aportar valor a un equipo de trabajo dinámico y creativo. Estoy dispuesta a trabajar duro para seguir creciendo profesionalmente y contribuir al éxito de cualquier proyecto en el que me involucre.
        </p>
      </article>
    </section>
    <aside class="main__aside">
      <div class="main__aside--square"></div>
      <div class="main__aside--square"></div>
    </aside>
</main>
